/* 
body{
    font-size: 1rem;
    line-height: 1.7;
    color: #5b6a6f;
    margin: 0;
    padding: 0;
    font-family: 'Sarabun' sans-serif;
    letter-spacing: 0px;
}
.container{
    max-width: 1040px;
    margin: auto;
    padding:0px 18px;
}
.color-dark{
   color: #2c3e44;
}
 nav a{
    font-size: 1.15rem;
 }
 .flex{
    display: flex;
 }
 .flex-col{
   flex-direction: column;
 }
 .justify-content-center{
    justify-content: center;
 }
 .justify-content-between{
    justify-content: space-between;
 }
 .align-center{
    align-items: center;
 }
 .list-type-none{
    list-style-type: none;
 }
header{
    position: sticky !important;
    top: 0px;
    width: 100vw;
    background-color: rgba(250, 252, 253, 0.95);
    border-bottom: 0.5px solid #dbe0e2;
}
 nav{
    height: 65px;
    padding: 0px 30px;
    
}
 ul{
    gap: 30px;
    font-size: 0.9rem;
 }
 
 ul li:hover{
    cursor: pointer;
    color:#2c3e44
 }
.hero{
    width: 100%;
    height: auto;
    margin-top: 30px;
 }
 .hero > div{ 
    width : 45%
 }
 .hero-music{

 }

 .hero-heading{
    font-size: 3.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 0px;
 }
 .hero-img{
    border-radius: 15px;
    box-shadow:  8px 8px 12px rgba(0, 0, 0, 0.2);
    width: 340px;
 }
 .music-player{
    width: 420px;
    height: 112px;
    background-color: #FFFFFF;
    border: 0.5px solid #DBE0E2;
    border-radius: 8px;
    padding: 1rem 2rem;
    margin: 30px 0px;
    gap: 15px;
 }
 .icon{
   color: white;
 }
 .playpausebutton{
   width:44px;
   height: 44px;
   background-color: #5b7a8a;
   border-radius: 50%;
   
 }
 button{
   background-color: #5b7a8a;
   padding: 15px 22px;
   outline: none;
   border: none;   
   border-radius: 5px;
}
.btn1{
   color: white;
}
.btn2{
   background-color: transparent;
   border: 0.5px solid #dbe0e2;;
}
.music-info{
   width: 350px;
   height: 100%;
} */


@import "tailwindcss";

   .url-design{
      @apply hover:text-[#2c3e44] hover:cursor-pointer;
   }

body{
   font-family: 'Sarabun' sans-serif;
}
